package {{.}}handler

import (
	"clean-code-structure/service/{{.}}service"
)

type Handler struct {
	{{.}}Service   {{.}}service.Service
}

func New({{.}}Service {{.}}service.Service) Handler {
	return Handler{
		{{.}}Service:   {{.}}Service,
	}
}
